---
http_interactions:
- request:
    method: get
    uri: https://api.notion.com/v1/databases/25edb135281c80a3ab0dd768411cd25e
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<REDACTED>"
      Notion-Version:
      - '2022-02-22'
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"3a6-37squXjaWrlHAmhZBDHueqnmcmU"
      x-notion-request-id:
      - 984c3543-3bf8-486b-aa1c-247fdd06ad61
    body:
      encoding: UTF-8
      string: '{"object":"database","id":"25edb135-281c-80a3-ab0d-d768411cd25e","cover":null,"icon":null,"created_time":"2025-08-29T10:45:00.000Z","created_by":{"object":"user","id":"db313571-0280-411f-a6de-70e826421d12"},"last_edited_by":{"object":"user","id":"db313571-0280-411f-a6de-70e826421d12"},"last_edited_time":"2025-08-29T10:47:00.000Z","title":[{"type":"text","text":{"content":"jekyll
        tests empty database","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"jekyll
        tests empty database","href":null}],"description":[],"is_inline":false,"properties":{"Name":{"id":"title","name":"Name","description":null,"type":"title","title":{}}},"parent":{"type":"workspace","workspace":true},"url":"https://www.notion.so/25edb135281c80a3ab0dd768411cd25e","public_url":null,"archived":false,"in_trash":false,"request_id":"984c3543-3bf8-486b-aa1c-247fdd06ad61"}'
  recorded_at: Fri, 29 Aug 2025 10:48:37 GMT
- request:
    method: post
    uri: https://api.notion.com/v1/databases/25edb135281c80a3ab0dd768411cd25e/query
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<REDACTED>"
      Notion-Version:
      - '2022-02-22'
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"a6-XSsXeOUK8D3kO2V2Q9p2gbPUPPg"
      x-notion-request-id:
      - e133bf06-caea-4bac-b105-fd600783b760
    body:
      encoding: UTF-8
      string: '{"object":"list","results":[],"next_cursor":null,"has_more":false,"type":"page_or_database","page_or_database":{},"request_id":"e133bf06-caea-4bac-b105-fd600783b760"}'
  recorded_at: Fri, 29 Aug 2025 10:48:38 GMT
recorded_with: VCR 6.3.1
