---
http_interactions:
- request:
    method: get
    uri: https://api.notion.com/v1/databases/b264f9dd76fd45e3a014d7e7e069a5dc
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<REDACTED>"
      Notion-Version:
      - '2022-02-22'
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"561-c0yf9jQCj9i9eVeZIANxyXCwtoM"
      x-notion-request-id:
      - 9842eda5-ef21-4a3f-9534-59930c9983dd
    body:
      encoding: UTF-8
      string: '{"object":"database","id":"b264f9dd-76fd-45e3-a014-d7e7e069a5dc","cover":null,"icon":null,"created_time":"2022-02-05T16:31:00.000Z","created_by":{"object":"user","id":"db313571-0280-411f-a6de-70e826421d12"},"last_edited_by":{"object":"user","id":"db313571-0280-411f-a6de-70e826421d12"},"last_edited_time":"2025-08-29T12:51:00.000Z","title":[{"type":"text","text":{"content":"jekyll-notion
        works","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"jekyll-notion
        works","href":null}],"description":[],"is_inline":false,"properties":{"files":{"id":"CooI","name":"files","description":null,"type":"files","files":{}},"Created":{"id":"OoEJ","name":"Created","description":null,"type":"created_time","created_time":{}},"year":{"id":"QhPM","name":"year","description":null,"type":"number","number":{"format":"number"}},"poster":{"id":"SZe%3B","name":"poster","description":null,"type":"url","url":{}},"director":{"id":"nGgM","name":"director","description":null,"type":"rich_text","rich_text":{}},"Name":{"id":"title","name":"Name","description":null,"type":"title","title":{}}},"parent":{"type":"workspace","workspace":true},"url":"https://www.notion.so/b264f9dd76fd45e3a014d7e7e069a5dc","public_url":null,"archived":false,"in_trash":false,"request_id":"9842eda5-ef21-4a3f-9534-59930c9983dd"}'
  recorded_at: Fri, 29 Aug 2025 13:27:58 GMT
- request:
    method: post
    uri: https://api.notion.com/v1/databases/b264f9dd76fd45e3a014d7e7e069a5dc/query
    body:
      encoding: UTF-8
      string: '{"filter":{"property":"director","rich_text":{"equals":"Sergio Leone"}}}'
    headers:
      Authorization:
      - "<REDACTED>"
      Notion-Version:
      - '2022-02-22'
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"25fb-gVI1tF+pJOZSjm6+10Lc7NZS1wM"
      x-notion-request-id:
      - 256e36d1-8b31-4b3a-9c5d-b5fdcef8d2a8
    body:
      encoding: UTF-8
      string: '{"object":"list","results":[{"object":"page","id":"8f2264ad-4a9a-4ff3-afef-c69f5626c440","created_time":"2022-02-19T23:29:00.000Z","last_edited_time":"2025-08-29T13:13:00.000Z","created_by":{"object":"user","id":"db313571-0280-411f-a6de-70e826421d12"},"last_edited_by":{"object":"user","id":"db313571-0280-411f-a6de-70e826421d12"},"cover":null,"icon":null,"parent":{"type":"database_id","database_id":"b264f9dd-76fd-45e3-a014-d7e7e069a5dc"},"archived":false,"in_trash":false,"properties":{"files":{"id":"CooI","type":"files","files":[{"name":"cattivo.md","type":"file","file":{"url":"https://prod-files-secure.s3.us-west-2.amazonaws.com/4783548e-2442-4bf3-bb3d-ed4ddd2dcdf0/3522723c-7b57-4b41-ab43-c344d86f86f4/cattivo.md?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Content-Sha256=UNSIGNED-PAYLOAD&X-Amz-Credential=ASIAZI2LB466QPPKABYG%2F20250829%2Fus-west-2%2Fs3%2Faws4_request&X-Amz-Date=20250829T132851Z&X-Amz-Expires=3600&X-Amz-Security-Token=IQoJb3JpZ2luX2VjEGYaCXVzLXdlc3QtMiJHMEUCIAjMOOebChI1pmNeEUnJG38zS0cdXbX4ja0awb2uwYxwAiEAm4MHks7wi0gjJH2EbHhU2ja9LCMtVall6yG4AyiHhI4qiA[...]
- request:
    method: get
    uri: https://api.notion.com/v1/pages/8f2264ad-4a9a-4ff3-afef-c69f5626c440
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<REDACTED>"
      Notion-Version:
      - '2022-02-22'
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"cb1-gin0CCi+AMWJLLlIdydjQw5NltQ"
      x-notion-request-id:
      - 42fe14da-fb47-4139-8ae3[...]
- request:
    method: get
    uri: https://api.notion.com/v1/blocks/8f2264ad-4a9a-4ff3-afef-c69f5626c440/children
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<REDACTED>"
      Notion-Version:
      - '2022-02-22'
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"90-GiaMirgXfZLqU31RE3CUldPO7JQ"
      x-notion-request-id:
      - d8e486aa-c908-432c-95d7-584fac45798e
    body:
      encoding: UTF-8
      string: '{"object":"list","results":[],"next_cursor":null,"has_more":false,"type":"block","block":{},"request_id":"d8e486aa-c908-432c-95d7-584fac45798e"}'
  recorded_at: Fri, 29 Aug 2025 13:28:37 GMT
[...]
- request:
    method: get
    uri: https://api.notion.com/v1/blocks/5cfed4de-3bdc-4f43-ae8b-a653a7a2219b/children
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<REDACTED>"
      Notion-Version:
      - '2022-02-22'
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"90-fyh6GivGLAju9oTwzKXwvUqYVoE"
      x-notion-request-id:
      - c9d3204b-5e7d-489e-bcb1-351ad4e2fe0a
    body:
      encoding: UTF-8
      string: '{"object":"list","results":[],"next_cursor":null,"has_more":false,"type":"block","block":{},"request_id":"c9d3204b-5e7d-489e-bcb1-351ad4e2fe0a"}'
  recorded_at: Fri, 29 Aug 2025 13:28:39 GMT
recorded_with: VCR 6.3.1
