---
http_interactions:
- request:
    method: get
    uri: https://api.notion.com/v1/databases/b264f9dd76fd45e3a014d7e7e069a5dc
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<REDACTED>"
      Notion-Version:
      - '2022-02-22'
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"561-4KcFdmjaCnZqVCYse71RdUpNO2k"
      x-notion-request-id:
      - 47fd457a-363b-46ff-b747-74b4f28d1a2f
    body:
      encoding: UTF-8
      string: '{"object":"database","id":"b264f9dd-76fd-45e3-a014-d7e7e069a5dc","cover":null,"icon":null,"created_time":"2022-02-05T16:31:00.000Z","created_by":{"object":"user","id":"db313571-0280-411f-a6de-70e826421d12"},"last_edited_by":{"object":"user","id":"db313571-0280-411f-a6de-70e826421d12"},"last_edited_time":"2025-08-29T12:51:00.000Z","title":[{"type":"text","text":{"content":"jekyll-notion
        works","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"jekyll-notion
        works","href":null}],"description":[],"is_inline":false,"properties":{"files":{"id":"CooI","name":"files","description":null,"type":"files","files":{}},"Created":{"id":"OoEJ","name":"Created","description":null,"type":"created_time","created_time":{}},"year":{"id":"QhPM","name":"year","description":null,"type":"number","number":{"format":"number"}},"poster":{"id":"SZe%3B","name":"poster","description":null,"type":"url","url":{}},"director":{"id":"nGgM","name":"director","description":null,"type":"rich_text","rich_text":{}},"Name":{"id":"title","name":"Name","description":null,"type":"title","title":{}}},"parent":{"type":"workspace","workspace":true},"url":"https://www.notion.so/b264f9dd76fd45e3a014d7e7e069a5dc","public_url":null,"archived":false,"in_trash":false,"request_id":"47fd457a-363b-46ff-b747-74b4f28d1a2f"}'
  recorded_at: Fri, 29 Aug 2025 13:13:39 GMT
- request:
    method: post
    uri: https://api.notion.com/v1/databases/b264f9dd76fd45e3a014d7e7e069a5dc/query
    body:
      encoding: UTF-8
      string: '{"filter":{"property":"director","rich_text":{"equals":"Sergio Leone"}},"sorts":[]}'
    headers:
      Authorization:
      - "<REDACTED>"
      Notion-Version:
      - '2022-02-22'
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"25fb-KoMj++ndk2C9S6+p4ogPNmb6Nis"
      x-notion-request-id:
      - 25ea2088-35f8-43d2-b5f4-3e85bcfe95d8
    body:
      encoding: UTF-8
      string: '{"object":"list","results":[{"object":"page","id":"8f2264ad-4a9a-4ff3-afef-c69f5626c440","created_time":"2022-02-19T23:29:00.000Z","last_edited_time":"2025-08-29T13:13:00.000Z","created_by":{"object":"user","id":"db313571-0280-411f-a6de-70e826421d12"},"last_edited_by":{"object":"user","id":"db313571-0280-411f-a6de-70e826421d12"},"cover":null,"icon":null,"parent":{"type":"database_id","database_id":"b264f9dd-76fd-45e3-a014-d7e7e069a5dc"},"archived":false,"in_trash":false,"properties":{"files":{"id":"CooI","type":"files","files":[{"name":"cattivo.md","type":"file","file":{"url":"https://prod-files-secure.s3.us-west-2.amazonaws.com/4783548e-2442-4bf3-bb3d-ed4ddd2dcdf0/3522723c-7b57-4b41-ab43-c344d86f86f4/cattivo.md?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Content-Sha256=UNSIGNED-PAYLOAD&X-Amz-Credential=ASIAZI2LB4665HTCQU4W%2F20250829%2Fus-west-2%2Fs3%2Faws4_request&X-Amz-Date=20250829T131356Z&X-Amz-Expires=3600&X-Amz-Security-Token=IQoJb3JpZ2luX2VjEGQaCXVzLXdlc3QtMiJIMEYCIQCt57dhxjgljCo%2FlyEHctkicl08OPSNwt18phnhzvC4KQIhAP8Iy0VvQFJvTZAOWVSmcoSQEqgP3FMVGXzkkHsA%2Bv[...]
- request:
    method: get
    uri: https://api.notion.com/v1/pages/8f2264ad-4a9a-4ff3-afef-c69f5626c440
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<REDACTED>"
      Notion-Version:
      - '2022-02-22'
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"cb7-/pNMqLAF84s/V+Fp1jM0ygi/aK8"
      x-notion-request-id:
      - 857b5704-36df-40d1-89cc[...]
- request:
    method: get
    uri: https://api.notion.com/v1/blocks/8f2264ad-4a9a-4ff3-afef-c69f5626c440/children
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<REDACTED>"
      Notion-Version:
      - '2022-02-22'
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"90-YMqEWokVKjajMnDFI4DPhno+5S4"
      x-notion-request-id:
      - 3108b975-c897-4169-b9f4-9d7ba6fee7e8
    body:
      encoding: UTF-8
      string: '{"object":"list","results":[],"next_cursor":null,"has_more":false,"type":"block","block":{},"request_id":"3108b975-c897-4169-b9f4-9d7ba6fee7e8"}'
  recorded_at: Fri, 29 Aug 2025 13:13:41 GMT
[...]
- request:
    method: get
    uri: https://api.notion.com/v1/blocks/5cfed4de-3bdc-4f43-ae8b-a653a7a2219b/children
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<REDACTED>"
      Notion-Version:
      - '2022-02-22'
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"90-nfr4cbEdWW5AYhbTmISyiDG2Dt4"
      x-notion-request-id:
      - c562be68-dba5-4438-85f2-be8ddcfb6f83
    body:
      encoding: UTF-8
      string: '{"object":"list","results":[],"next_cursor":null,"has_more":false,"type":"block","block":{},"request_id":"c562be68-dba5-4438-85f2-be8ddcfb6f83"}'
  recorded_at: Fri, 29 Aug 2025 13:13:44 GMT
recorded_with: VCR 6.3.1
