---
http_interactions:
- request:
    method: get
    uri: https://api.notion.com/v1/databases/b264f9dd76fd45e3a014d7e7e069a5dc
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<REDACTED>"
      Notion-Version:
      - '2022-02-22'
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"561-RZFnaVRYI8yO7wN7HeXB+hEDpKQ"
      x-notion-request-id:
      - 49fee813-2f33-43be-a9ae-44e51fdceed8
    body:
      encoding: UTF-8
      string: '{"object":"database","id":"b264f9dd-76fd-45e3-a014-d7e7e069a5dc","cover":null,"icon":null,"created_time":"2022-02-05T16:31:00.000Z","created_by":{"object":"user","id":"db313571-0280-411f-a6de-70e826421d12"},"last_edited_by":{"object":"user","id":"db313571-0280-411f-a6de-70e826421d12"},"last_edited_time":"2025-08-29T12:51:00.000Z","title":[{"type":"text","text":{"content":"jekyll-notion
        works","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"jekyll-notion
        works","href":null}],"description":[],"is_inline":false,"properties":{"files":{"id":"CooI","name":"files","description":null,"type":"files","files":{}},"Created":{"id":"OoEJ","name":"Created","description":null,"type":"created_time","created_time":{}},"year":{"id":"QhPM","name":"year","description":null,"type":"number","number":{"format":"number"}},"poster":{"id":"SZe%3B","name":"poster","description":null,"type":"url","url":{}},"director":{"id":"nGgM","name":"director","description":null,"type":"rich_text","rich_text":{}},"Name":{"id":"title","name":"Name","description":null,"type":"title","title":{}}},"parent":{"type":"workspace","workspace":true},"url":"https://www.notion.so/b264f9dd76fd45e3a014d7e7e069a5dc","public_url":null,"archived":false,"in_trash":false,"request_id":"49fee813-2f33-43be-a9ae-44e51fdceed8"}'
  recorded_at: Fri, 29 Aug 2025 13:27:59 GMT
- request:
    method: post
    uri: https://api.notion.com/v1/databases/b264f9dd76fd45e3a014d7e7e069a5dc/query
    body:
      encoding: UTF-8
      string: '{"sorts":[{"property":"year","direction":"ascending"}]}'
    headers:
      Authorization:
      - "<REDACTED>"
      Notion-Version:
      - '2022-02-22'
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"4ba1-X9pREsTvq6pYkh2HeGjTS5w6Rdg"
      x-notion-request-id:
      - 901d8fd3-2f3f-4f7b-ada6-2fb829c08377
    body:
      encoding: UTF-8
      string: '{"object":"list","results":[{"object":"page","id":"5cfed4de-3bdc-4f43-ae8b-a653a7a2219b","created_time":"2022-02-05T16:31:00.000Z","last_edited_time":"2025-08-29T13:13:00.000Z","created_by":{"object":"user","id":"db313571-0280-411f-a6de-70e826421d12"},"last_edited_by":{"object":"user","id":"db313571-0280-411f-a6de-70e826421d12"},"cover":null,"icon":null,"parent":{"type":"database_id","database_id":"b264f9dd-76fd-45e3-a014-d7e7e069a5dc"},"archived":false,"in_trash":false,"properties":{"files":{"id":"CooI","type":"files","files":[{"name":"dollari.md","type":"file","file":{"url":"https://prod-files-secure.s3.us-west-2.amazonaws.com/4783548e-2442-4bf3-bb3d-ed4ddd2dcdf0/46c827d0-603d-4edd-9a46-b703f5b7efc7/dollari.md?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Content-Sha256=UNSIGNED-PAYLOAD&X-Amz-Credential=ASIAZI2LB466T24MTIDR%2F20250829%2Fus-west-2%2Fs3%2Faws4_request&X-Amz-Date=20250829T132856Z&X-Amz-Expires=3600&X-Amz-Security-Token=IQoJb3JpZ2luX2VjEGUaCXVzLXdlc3QtMiJIMEYCIQDwCCl3ugKjhyOM0IjbCTXdjY%2FeCOv2bwGgokFx%2FwB3MwIhAM972hegG%2B7hin6LjVk36SvzhXAL5cl8yem%2BwZ[...]
- request:
    method: get
    uri: https://api.notion.com/v1/pages/5cfed4de-3bdc-4f43-ae8b-a653a7a2219b
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<REDACTED>"
      Notion-Version:
      - '2022-02-22'
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"c92-ej1VVapFo3T0rYzOdrPSldLI2g4"
      x-notion-request-id:
      - b804b2d7-965d-4712-8512[...]
- request:
    method: get
    uri: https://api.notion.com/v1/blocks/5cfed4de-3bdc-4f43-ae8b-a653a7a2219b/children
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<REDACTED>"
      Notion-Version:
      - '2022-02-22'
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"90-uXivI21eyHWRbPwdrbvgF8mGpzk"
      x-notion-request-id:
      - 535b4683-ccb0-4da0-bf84-fa8c2776d94f
    body:
      encoding: UTF-8
      string: '{"object":"list","results":[],"next_cursor":null,"has_more":false,"type":"block","block":{},"request_id":"535b4683-ccb0-4da0-bf84-fa8c2776d94f"}'
  recorded_at: Fri, 29 Aug 2025 13:28:41 GMT
[...]
- request:
    method: get
    uri: https://api.notion.com/v1/blocks/b11c7a8f-e80d-4767-b263-a48d56670cca/children
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<REDACTED>"
      Notion-Version:
      - '2022-02-22'
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"90-JjbxihR188NloHv+BMu72Mm9WdU"
      x-notion-request-id:
      - e9527701-81d2-480e-96b9-4d65b25efafb
    body:
      encoding: UTF-8
      string: '{"object":"list","results":[],"next_cursor":null,"has_more":false,"type":"block","block":{},"request_id":"e9527701-81d2-480e-96b9-4d65b25efafb"}'
  recorded_at: Fri, 29 Aug 2025 13:28:46 GMT
recorded_with: VCR 6.3.1
