---
http_interactions:
- request:
    method: get
    uri: https://api.notion.com/v1/pages/unknown
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<REDACTED>"
      Notion-Version:
      - '2022-02-22'
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"d1-t4kUvmKjgkLZgnfx33Xs2yaxAGA"
      x-notion-request-id:
      - 542a59f5-2c52-49ba-9de7-10c94b83c0d3
    body:
      encoding: UTF-8
      string: '{"object":"error","status":400,"code":"validation_error","message":"path
        failed validation: path.page_id should be a valid uuid, instead was `\"unknown\"`.","request_id":"542a59f5-2c52-49ba-9de7-10c94b83c0d3"}'
  recorded_at: Sat, 30 Aug 2025 05:58:19 GMT
recorded_with: VCR 6.3.1
