---
http_interactions:
- request:
    method: get
    uri: https://api.notion.com/v1/databases/unknown
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<REDACTED>"
      Notion-Version:
      - '2022-02-22'
  response:
    status:
      code: 404
      message: Not Found
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"f4-UiOsk+uF2cch4ya85Oc3TyG/qRE"
      x-notion-request-id:
      - 9dce693a-86a4-42fe-af65-9cbfa26d080e
    body:
      encoding: UTF-8
      string: '{"object":"error","status":404,"code":"object_not_found","message":"Could
        not find database with ID: unknown----. Make sure the relevant pages and databases
        are shared with your integration.","request_id":"9dce693a-86a4-42fe-af65-9cbfa26d080e"}'
  recorded_at: Fri, 29 Aug 2025 11:00:02 GMT
recorded_with: VCR 6.3.1
